body, html{
    padding: 0;
    margin: 0;
}
.main-content{
    margin-top: 80px;
}
.mycolor{
    columns: #8b4209;
}
.navbar-main{
    background-color: #161618;
    border-radius: 0px;
    font-size: 16px;
    color: #080808;
    font-weight: bold;
}
.navbar-nav>li>a{
    color: #ffffff;
}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover{
    background-color: #ffffff;
    color:#000000
}
.navbar-nav>li.active{
    background-color: #ffffff;
    border-radius: 2px;
}
.navbar-nav>li.active>a{
    color:#000000
}
.black{
    color: #000000;
}
.underline{
    border-bottom: 2px dashed #080808;
    border-bottom-color: #5d5d5d;
    padding-bottom: 10px;
    padding-top: 10px;
}