@()

@main("Administrator") {

    @navbar("admin")

    <div class="container">
        <div class="main-content">
            <div class="row">
                <div class="col-xs-3">
                    <img src="@routes.Assets.at("images/Doston.jpg")" class="img-responsive">
                    <h2 class="text-info">Akhmedov Doston</h2>
                </div>
                <div class="col-xs-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="text-info">Send message Administrator</h4>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Edit..."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-success" href="#">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}