@()

@main("Administrator") {

    @navbar("admin")

    <div class="container">
        <div class="main-content">
            <div class="row">
                <div class="col-xs-6">
                    <img src="@routes.Assets.at("images/Doston.jpg")" class="img-responsive">
                    <h2>Akhmedov Doston.</h2>
                    <h4 class="text-justify">Doston was birn in 1994. He is from Uzbekistan. He lives in Khorezm. He studies in Tashkent University of Information Tehnologies of Urgench Branch. </h4>
                </div>
            </div>
        </div>
    </div>
}