@(message: String)

@main("your-tab") {

    @navbar("home")

    <div class="main-content container">
        <div class="jumbotron" style="background-color : #ae8e93">
            <h2 class="text-center text-primary">
                Welcome to our site!!!
            </h2>
            <p>
                In this site you creating your account and adding your favourite sites list.
                If you want to use our web site you must register and login to our site.
                If you have any problem come in this profile : <a href="https://www.facebook.com/profile.php?id=100007680498831"><span class="fa fa-facebook-square"></span></a>
            </p>
            <a class="btn btn-primary" href="@routes.admin.admin()">Administrator</a>
        </div>
    </div>

}
